{{> navbar}}
<style>
    /* Add this CSS to your existing styles or create a new CSS file */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%; /* Set fixed height for card */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
     background-color: #dbf0edda;
}

.card-icon {
    background-color: #afc6de;
    color: #4f52f7;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-body p {
    color: #101112;
    font-size: 16px;
    line-height: 1.6;
}

.header-container {
    background-color: #75a9e1;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    margin-top: 10px;
    height: 180px;
}

.header-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.header-description {
    font-size: 1.2rem;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

/* Hover effect */
.header-container:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.header-title:hover {
    color: #ffd700; /* Change color on hover */
}

.header-description:hover {
    color: #c8daff; /* Change color on hover */
}
 footer {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa;
            color: #110e0e;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

</style>
<header class="header-container">
    <h1 class="display-4 header-title"><i class="feature-icon fas fa-palette"></i> Drawing Art Styles</h1>
    <p class="lead header-description">Explore different drawing art styles and techniques.</p>
</header>
<div class="container">
    <div class="row justify-content-center feature-box"> <!-- Align cards in the center -->
        {{#each Sdata}}
            <div class="col-md-4 mb-3"> <!-- Add margin bottom -->
                <div class="card">
                    <div class="card-icon">
                        <i class="{{icon}}"></i>
                    </div>
                    <div class="card-body">
                        <h3>{{title}}</h3>
                        <img src="https://images.unsplash.com/photo-1594897030264-ab7d87efc473?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image" class="img-fluid mb-3"> <!-- Add your image here -->
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{> footer}}
